* text=auto eol=lf

# Visual assets
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary

# MS Office / binaries
*.pdf binary
*.zip binary

# Normalize C# projects
*.sln text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf

# SQL scripts as text
*.sql text linguist-language=SQL