# VS / .NET
.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
TestResults/
*.user
*.suo
*.userprefs
*.ncrunch*
_ReSharper*/
*.DotSettings.user

# Paquetes / caches
packages/
.nuget/
*.nupkg
*.snupkg

# Sistema
Thumbs.db
.DS_Store

# App config (secretos locales)
src/**/App.config

# Carpeta oculta frecuente
src/**/_gsdata_/

# Logs
*.log

# Otros
*.bak
*.tmp