<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ActiveDb" value="Docker"/>
    <add key="AppTitulo" value="SuiteMDI-EduSQL"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlDocker"
         connectionString="Server=127.0.0.1,2333;Database=Ejemplo_SIN_Encripcion;User ID=sa;Password=TU_PASSWORD_SA;TrustServerCertificate=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
    <add name="SqlLocal"
         connectionString="Server=.;Database=Ejemplo_SIN_Encripcion;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>